/* * {
  margin:0;
  padding: 0;
  box-sizing: border-box;
} */

.App {
  text-align: center;
  background-color: rgb(255, 178, 178);
}

.flexContainer {
  /* position: absolute; */
  /* width: 800px; */
  /* height: 400px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  /* position: relative; */
  /* width: 30vw; */
  /* flex-direction: row; */
}

.imgContainer {
  min-width: 100px;
  align-self: center;
  flex-basis: 21%;
  height: 20vw;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* border: solid 1px black; */
  
  /* flex: 1 0 20%; */
  /* min-width: 150px; */
  /* padding-bottom: 15px; */
  /* overflow: hidden; */
}

img {
  /* height: 70px; */
  justify-content: flex-start;
  width: 15vw;
  /* margin-top: 3vw; */
  cursor: pointer;
}

p {
  cursor: pointer;
  /* padding-bottom: 10%; */
}

form {
  margin: 20px;
}
