.App {
  padding-top: 2vh;
  text-align: center;
  background-color: rgb(255, 178, 178);
}

.flexContainer {
  /* position: absolute; */
  /* width: 800px; */
  /* height: 400px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  /* position: relative; */
  /* width: 30vw; */
  /* flex-direction: row; */
}

.imgContainer {
  min-width: 100px;
  align-self: center;
  flex-basis: 21%;
  height: 20vw;
  min-height: 22vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* border: solid 1px black; */
  /* min-width: 150px; */
  padding-top : 3vh;
}

img {
  /* height: 70px; */
  justify-content: flex-start;
  width: 15vw;
  /* margin-top: 3vw; */
  cursor: pointer;
  
}

p {
  cursor: pointer;
  /* padding-bottom: 10%; */
}

form {
  margin: 20px;
}


.drinkShow {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: rgb(63, 134, 201);
}


